<%- include("includes/header")%>
<%- include("includes/navbar")%>
<div class="container-fluid flexRow error">
    <img src="/static/image/errorBunny.svg" alt="error!">
    <div class="errorItem">
        <b>Oops! </b>
        <br>
        <b>Something goes wrong.</b>
    </div>
</div>