<%- include("../includes/header")%>
<%- include("../includes/navbar")%>

<div class="container-fluid flexRow error">
    <img src="/static/image/errorBunny.svg" alt="error!">
    <div class="errorItem">
        <b>Awww! </b>
        <br>
        <b>The user does not exists.</b>
    </div>
</div>