<%- include("../../includes/header")%>
<%- include("../../includes/navbar")%>

<div class="container-fluid">
    
    <form action="/change-password" method="POST" class="flexColumn authItemBox">
        <img class="authItemAvatar" src="/static/image/user/password.svg" alt="">
        <input name="oldPassword" class="authBoxInput" type="password" placeholder="Current password" autocomplete="off">
        <input name="newPassword" class="authBoxInput" type="password" placeholder="New password" autocomplete="off">
        <% if (message !== undefined && message != "") { %>
            <span class="authErr"><%= message%></span>
            <% } %>
        <button id="changepwd" class="btn btn-outline-danger authBoxItem">Submit</button> 
    </form>
</div>  

<script src="/static/util/auth.js"></script>